.catalog-item {
  width: 280px;

  &--show-more {
    position: relative;

    padding-top: 79px;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 30px;

      background: url("../img/icon-plus-mobile.svg") 0 0 no-repeat;
      opacity: 0.2;
    }
  }
}

.catalog-item__image {
  display: block;
}

.catalog-item__information {
  padding-top: 21px;
}

.catalog-item__figure {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 13px;
  width: 80px;

  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item__table {
  width: 140px;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
  border: none;
}

.catalog-item__table td {
  padding: 0;
}

.catalog-item__second-column {
  &--price {
    text-transform: uppercase;
  }

  text-align: right;
}

.catalog-item__order {
  margin-bottom: 25px;
}

.catalog-item__show-more {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item__text {
  margin: 0;
  margin-bottom: 21px;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 324px;
    padding-left: 38px;
    padding-right: 37px;

    background-image: linear-gradient(to bottom, white 100px, $gray 100px);

    &--show-more {
      margin-top: 100px;
      padding-top: 163px;

      background-image: linear-gradient(to bottom, white);
      border: 1px solid $border-color;

      &::before {
        width: 60px;
        height: 60px;
        top: 53px;

        background: url("../img/icon-plus.svg");
      }
    }
  }

  .catalog-item__image {
    margin-top: 53px;
    margin-bottom: 17px;
    margin-left: -38px;
    width: 324px;
    height: 172px;

    &--big {
      margin-top: 17px;
      width: 324px;
      height: 208px;
    }
  }

  .catalog-item__order {
    margin-top: auto;
    margin-bottom: 40px;
  }

  .catalog-item__figure {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .catalog-item__table {
    width: 100%;

    font-size: 16px;
  }

  .catalog-item__table td {
    padding-top: 9px;
    padding-bottom: 6px;

    border-bottom: 1px solid $border-color;
  }

  .catalog-item__title {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 135px;

    font-size: 20px;
    text-align: center;
  }

  .catalog-item__show-more {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 170px;

    font-size: 20px;
  }

  .catalog-item__text {
    margin: 0 auto;
    width: 170px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
  }

  .catalog-item__image {
    width: 245px;
    height: 172px;

    &--big {
      width: 245px;
      height: 208px;
    }
  }
}
