.choose-program {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .choose-program {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .choose-program {
    margin-bottom: 73px;
  }
}
