.contacts {
  &--white {
    background-color: $white;
  }
}

.contacts__text {
  width: 125px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: $secondary-font;
  line-height: 20px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 625px;
  }

  .contacts__address {
    width: 165px;
    text-align: right;
  }
}
