.contacts {
  &--white {
    background-color: $white;
  }
}

.contacts__text {
  width: 125px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
}

.contacts__address p {
  margin: 0;

  font-family: $secondary-font;
  line-height: 20px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 27px;
}

.contacts__iframe {
  display: block;
  margin: 0 auto;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 400px;
  background-position: center 0;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-top: 66px;
    padding-left: 40px;
    padding-right: 42px;
    padding-bottom: 59px;
  }

  .contacts__text {
    width: 172px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-top: -3px;
    width: 165px;
  }

  .contacts__address p {
    font-size: 16px;
    text-align: right;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .contacts__iframe {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 767px 400px;
    background-position: center 0;

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts .container {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    left: auto;
    top: 95px;

    box-sizing: border-box;
    width: 570px;
    padding-left: 76px;
    padding-right: 79px;

    background-color: $white;
  }

  .contacts__address p {
    text-align: left;
  }

  .contacts__iframe {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: 1440px 400px;
    background-position: center 0;

    @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
