.example {
  margin-bottom: 30px;

  background-color: $gray;
}

.example__title {
  @include title-style();
}

.example__text {
  margin: 0;
  font-family: $secondary-font;
}

.example__weight,
.example__days {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__weight-detailed,
.example__days-detailed {
  font-family: $secondary-font;
  text-transform: lowercase;
}

.example__cost {
  margin: 0;

  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__wrapper-results {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .example__wrapper-results {
    width: 385px;
  }

  .example__wrapper-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .example .container {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 433px;
  }
}
