.features {
  margin-bottom: 42px;
}

.features__title {
  @include title-style();
  margin-bottom: 35px;
}

.features__list {
  @include list-style-reset();
}

.features__item {
  font-family: $secondary-font;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}
