.list-program {
  @include list-style-reset();
}

.list-program__item {
  padding-left: 20px;
  padding-right: 25px;

  background-color: $gray;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.list-program__title {
  margin: 0;
  padding-top: 35px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: 72px;

  font-size: 24px;
  font-weight: inherit;
  line-height: 37px;
  text-transform: uppercase;
}

.list-program__description {
  margin: 0;

  font-family: $secondary-font;
}

.list-program__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .list-program__item {
    padding-left: 52px;
  }

  .list-program__title {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 37px;
  }

  .list-program__item:first-child .list-program__description {
    width: 371px;
  }

  .list-program__item:last-child .list-program__description {
    width: 343px;
  }

  .list-program__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .list-program {
    display: flex;
    justify-content: space-between;
  }

  .list-program__item {
    box-sizing: border-box;
    width: 570px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .list-program__title {
    padding-left: 154px;
  }

  .list-program__item:first-child .list-program__description,
  .list-program__item:last-child .list-program__description {
    width: auto;
  }
}
