.main-header {
  margin-bottom: 22px;

  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, $green 305px, $white 305px);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 320px auto;

  @media (min-resolution: $retina-dpi) and (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, $green 305px, $white 305px);
  }
}

.main-header__title {
  margin: 0;
  padding-top: 27px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;

  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  color: $white;
}

.main-header__description {
  margin: 0;
  padding-bottom: 28px;

  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.main-header__image {
  margin-left: 20px;
  width: 280px;
  height: 271px;
}

.main-header__button {
  padding-top: 12px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    margin-bottom: 0;

    background-image: none;
    background-color: $white;
  }

  .main-header__title,
  .main-header__description {
    text-align: left;
    color: $black;
  }

  .main-header__title {
    width: 430px;
    padding-left: 0;
    padding-top: 44px;
    margin-bottom: 17px;

    font-size: 60px;
    line-height: 60px;
  }

  .main-header__description {
    margin-bottom: 19px;

    font-size: 20px;
    line-height: 20px;
  }

  .main-header__picture {
    order: 1;
  }

  .main-header__image {
    display: block;
    width: 706px;
    height: 609px;
    margin-top: -80px;
    margin-left: -90px;

    z-index: 1;
  }

  .main-header__button {
    box-sizing: border-box;
    padding-top: 16px;
    margin: 0;
    width: 245px;
    height: 52px;

    font-size: 20px;
    line-height: 20px;

    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-left: 80px;
    padding-top: 50px;
    margin-bottom: 80px;
    background-color: transparent;
  }

  .main-header__description {
    margin-bottom: 25px;
  }

  .main-header__image {
    margin-top: -366px;
    margin-left: 370px;
    padding-bottom: 55px;
    width: 552px;
    height: 499px;
  }
}
