@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
