.page-header {
  position: relative;
}

.page-header__logo {
  position: relative;

  display: block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc((100vw - 100%) / -2);

    width: 100vw;
    height: 1px;

    background-color: $border-color--menu;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
  padding-top: 6px;
  padding-bottom: 14px;
  width: 190px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    &::after {
      content: none;
    }
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-image {
    padding-top: 3px;
    width: 202px;
    height: 59px;
  }
}
