.page-footer {
  background-color: $gray;
}

.page-footer__logo {
  position: relative;

  display: block;
  padding-top: 39px;
  padding-bottom: 32px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: $border-color--footer;
  }
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.page-footer__copyright {
  position: relative;

  padding-top: 20px;
  padding-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;

    background-color: $border-color--footer;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    &::after {
      content: none;
    }
  }

  .page-footer__copyright {
    &::before {
      content: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    padding-top: 24px;
  }
}
