.product-list {
  @include list-style-reset();
}

.product-list__item {
  display: flex;

  border-bottom: 1px solid $border-color--catalog;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-list__item {
    border: none;
  }
}
