.site-button {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: $green;

  &:hover {
    background-color: $green--dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--gray {
    color: #000000;

    background-color: $gray--light;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
