$default-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;

$white: #ffffff;
$white--transparent: rgba(255, 255, 255, 0.3);
$black: #000000;
$black--transparent: rgba(0, 0, 0, 0.3);
$gray: #f2f2f2;
$green: #68b738;
$green--dark: #5eaa2f;
$border-color: #cdcdcd;
$input-color: rgba(205, 205, 205, 0.5);
$input-color--hover: $border-color;
$input-color--focus: #444444;
$input-color--invalid: #ff8282;
$button-gray-color: $gray;
$button-gray-color--hover: #ebebeb;
$button-green-color: $green;
$button-green-color--hover: $green--dark;
$border-color--menu: #e6e6e6;
$border-color--catalog: #ededed;
$border-color--list-program: #d9d9d9;
$border-color--footer: $border-color--list-program;
$border-color--dotted: #bebebe;
$range-color: #dcdcdc;
$socials-color: #666666;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
